h1{
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    color: #388087;
}
h2{
    font-size: 20px;
    font-family: sans-serif;
    text-align: left;
    color: #388087;
}
.p{
    color: #388087;
    font-family: sans-serif;


}
header{
    
    padding: 25px;
    background-color: #BADFE7;
    margin: auto;
    box-shadow: #0A4950;
    
    
}
body {
  background-image: linear-gradient(to right,#badfe7,#c2edce,#badfe7);

}
.card, atasare {
    box-shadow: 0 4px 8px 0;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #BADFE7;
    color: #388087;
  }
  
  .card button {
    border: none;
    padding: 16px;
    color: #388087;
    background-color: #c2edce;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #BADFE7; /* Fallback color */
    background-color: rgba(220, 230, 228, 0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #BADFE7;
    margin: auto;
    padding: 20px;
    border: 1px solid #388087;
    width: 80%;
    color: #0A4950;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /* Modal Cod Prezenta */
  .modal-content-codprezenta {
    background-color: #6FB3B8;
    margin: auto;
    padding: 20px;
    border: 1px solid #388087;
    width: 80%;
    color: #0A4950;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* The Close Button */
  .close {
    color:#0A4950;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #0A4950;
    text-decoration: none;
    cursor: pointer;
  }

 

  .myBtn {
      border: none;
      padding: 10px 20px;
      background-color: #BADFE7;
      color: #0A4950;
      text-align: left;
      cursor: pointer;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold;
      border-radius: 10px;

  }

  