h1{
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    color: #388087;
}



.materii-text{
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
  color: #388087;

}


h3 {
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  color: #388087;
}

h4 {
  font-size: 20px;
  font-family: sans-serif;
  text-align: left;
  color: #388087;

}

.p{
    color: #388087;
    font-family: sans-serif;
}


header{
    overflow: hidden;
    padding: 20px 10px;
    background-color: #BADFE7;
}


header a{
  float: right;
  color: #388087;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  border-radius: 3px;
  cursor: pointer;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  float: left;
}

header a:hover {
  color:#0A4950;
}

a {
  text-decoration: none;
}    

@media screen and (max-width: 500px) {
  header a {
    float: none;
    display: block;
    text-align: left;
  }

}

body {
  margin: 0;
  background-image: linear-gradient(to right,#badfe7,#c2edce,#badfe7);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section, article {
  margin-left: 20%;
  padding: 0px;
}



.meniu {
  height: 100%;
  text-align: left;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  left: 0;
  display: flex;
  flex-direction: column;
}

.meniu a{
  color:#0A4950;
  padding: 15px 8px 20px 30px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 25px;
  display: block;
  align-items: center;
}

.meniu a:hover {
  color:#388087;
}




.card{
    box-shadow: 0 4px 8px 0;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #BADFE7;
    color: #388087;
    line-height: 200%;
  }
  
  .card button {
    border: none;
    padding: 16px;
    color: #388087;
    background-color: #c2edce;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .atasare {
    box-shadow: 0 4px 8px 0;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #BADFE7;
    color: #388087;
  }

  .anunt{
    box-shadow: 0 4px 8px 0;
    max-width: 900px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #BADFE7;
    color: #388087;
    line-height: 200%;
  }
textarea{
  resize: none;
  width: 700px;
  height: 150px;
  background-color: rgb(212, 235, 243);
  color: #388087;
  border: 0px;
}
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #BADFE7; /* Fallback color */
    background-color: rgba(220, 230, 228, 0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #BADFE7;
    margin: auto;
    padding: 15px;
    border: 1px solid #388087;
    width: 80%;
    color: #0A4950;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


  
  /* The Close Button */
  .close {
    color:#0A4950;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #0A4950;
    text-decoration: none;
    cursor: pointer;
  }

  .myBtn {
      border: none;
      padding: 10px 20px;
      background-color: #BADFE7;
      color: #0A4950;
      text-align: left;
      cursor: pointer;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold;
      border-radius: 10px;

  }

  